body{
  margin: 0;
  background-image: url("images/kakao.jpeg");
  background-repeat: no-repeat;
  background-size: contain; /* 혹은 auto로 설정하여 원본 이미지 크기에 맞게 표시될 수 있습니다. */
  background-position: center;
  min-height: 100vh;
  min-width:100vh;
  background-color:#ffc309 ;
  display:flex;
  justify-content: center;

  text-align: center;


}
.container{
  display:flex;
align-items: center;
  text-align: center;
 
  flex-direction: column;
}
.inputArea{
  display:flex;
  align-items: center;
    text-align: center;
    justify-content: center;
  width:50%;
  height:20%;
  text-align: center;
  background-color: white;
  opacity: 0.2;
  padding:10px;
  border-radius: 15px;
  margin-top:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

 

}
#input{
  background-color:#ffc309  ;
}
.taskTaps{
  display:flex;
 border-bottom:1px solid lightgray;
 position:relative;
}
.taskTaps div{
  padding:1em;
}
.taskArea{
  border:1px solid lightgray;
  width:100%;
  margin-top: 20px;
}
#underLine{
height:4px;
background-color: pink;
position:absolute;
width:50px;
left:0px;
top:50px;
padding:0px;
}
.task{
  display:flex;
  justify-content: space-between;
}

.taskDone{
  text-decoration: line-through;
  background-color: red;
}

